.admin-dashboard {
    display: flex;
  }
  
  .side-panel {
    width: 150px;
    background-color: #333;
    color: #fff;
    padding-bottom: 599px;
    padding-left: 30px;
  }
  
  .side-panel h2 {
    margin-bottom: 20px;
    font-style: italic;
  }
  
  .side-panel ul {
    list-style: none;
    padding: 0;
  }
  
  .side-panel ul li {
    margin-bottom: 10px;
  }
  
  .side-panel ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .student-class-boxes {
    display: flex;
    justify-content: space-around;
  }
  
  .student-class-box {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-top: 250px;
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  